:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
}

.sprite-image {
  max-width: 250px;
  max-height: 250px;
}

.quantity {
  font-weight: 700;
  font-size: large;
}
